.errorInput {
    border-radius: 5px;
    font-family: inherit;
    width: 100%;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient( red, darkred);
    border-image-slice: 1;
}

.error {
    color: red;
}

.form__field {
    border-radius: 5px;
    font-family: inherit;
    width: 100%;
    border:0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.field {
    position: relative;
}
/*.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}*/

.form__field:focus {
    border-radius: 5px;
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}



