
.linkClass{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin: 3px;
}
.linkClass:hover {
    color: pink;
}

.activeLinkClass {
    color:orange;
}

.container{
    display: inline-block;
    transform: translateX(-201px);
    transition-duration: 500ms;
}

.container:hover{
    transform: translateX(0);
    transition-duration: 500ms;
}


.square {
    display: inline-block;
    font-size: 2rem;
}